body {
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
  text-align: center;
  transition: 0.5s;
}
h1 {
  color: red;
}
h2 {
  color: purple;
}
ul {
  list-style-type: square;
  color: burlywood;
}
a {
  color: gray;
  text-decoration: underline;
  font-weight: bold;
}
.color-button {
  background-color: salmon;
  top: 20px;
  right: 20px;
  font-size: 16px;
  cursor: pointer;
  color: blue;
  position: absolute;
}
.color-button:hover {
  background-color: aqua;
}
.language-button {
  background-color: rgb(114, 132, 250);
  top: 20px;
  right: 300px;
  font-size: 16px;
  cursor: pointer;
  color: blue;
  position: absolute;
}
.language-button:hover {
  background-color: aqua;
}

