body {
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
  text-align: center;
}
h1 {
  color: red;
}
h2 {
  color: purple;
}
ul {
  list-style-type: square;
  color: burlywood;
}
a {
  color: gray;
  text-decoration: underline;
  font-weight: bold;
}
