body {
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
  text-align: center;
  transition: 0.5s;
}

h2 {
  color: purple;
}
ul {
  list-style-type: square;
  color: burlywood;
}
a {
  color: gray;
  text-decoration: underline;
  font-weight: bold;
}
.header {
  background-color: #333;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  position: sticky;
  height: 7%;
  align-items: center;
  text-align: left;

}

.header button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: salmon;
  font-size: 14px;
  border-radius: 5px;
  height: 80%;
}
.header button:hover {
  background-color: aqua;
}
.header .name{
  color: white;
  font-size: 50px;
  font-size: bold;
}
.content {
  padding: 20px;
}
